*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;


}

html{
    scroll-behavior: smooth;
}

#load{
    width: 100%;
    height: 100vh;
    background: #ffff url('../images/Spinner-3.gif');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 99;
    background-size: 8% 16%;
}

.header{
    width: 100%;
    height: 100vh;
    background-color: #1B2C3F;
    /* background-image: url('../images/cpm1.jpg'); */
    
}


.nav_logo_C{
    font-size: 2rem;
    color:#099D09;
    font-weight: bolder;
    font-size: 2.8rem;
}
.nav_logo_F{
    font-size: 2rem;
    color:#099D09;
    font-weight: bolder;
    font-size: 2.8rem;

}

/* section */

.header_section{
    width: 100%;
    height: inherit;
    color: #fff;
    text-align: center;
    position: relative;
    
}

.center_div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.h_bigText{
    font-size: 3rem;
}

.h_para{
    font-size: 1.1rem;
}

.header_buttons .h_section_btn1{
    border: 1px solid white;
    padding: 0.5rem 5.5rem;
    margin: 0 0.5rem 0 0.5rem;

}

.header_buttons .h_section_btn1:hover{
    background-color: #099D09;
    border: 1px solid #099D09;
}

.header_buttons .h_section_btn2{
    border: 1px solid white;
    padding: 0.5rem 5.5rem;
    margin: 0 0.5rem 0 0.5rem;
}

.header_buttons .h_section_btn2:hover{
    background-color: #099D09;
    border: 1px solid #099D09;
}


.sec_two_r1{
    border-left: 5px solid #b2fb91;
    height: 2.5rem;
}

.header_extradiv{
    width: 100%; height: auto;
    margin:  0;
    text-align: center;
   }
   
   .extra_div{
       background: #ffff;
       border: medium none;
       padding: 50px!important;
       border-radius: 3px;
       transition: 0.3s;
       margin: 5rem 0;
   }

   .extra_div a i{
       color: #099D09;
   }
   .extra_div p{
       font-size: 0.8rem;
   }
   
   .extra_div:hover{
       box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
       transform: translateY(-20px);
   }





   .sec_three_main{
       width: 100%;
       height: 40%;
       background-image: url('../images/covid.jpg');
       background-size: 100% 100%;
       background-attachment: fixed;
   }

   .sec_three_covid h2{
         border-left: 5px solid #b2fb91;
         height: 3rem;
         padding: 0 1rem;
          }

   .sec_three_covid a{
       background-color: #099D09;
       padding-left: 2rem;
   }




   .sec_four_heading p{
       font-size: 1.1rem;
   }




   .sec_five{
       width: 100%;
       height: 100vh;
       background-color: #F7F8F9;
   }

   .sec_five_row1{
       width: 100%;
       height: 15rem;
       margin-top: 5rem;
       border-radius: 1.5rem;
       background-color: #ffffff;
       color: #099D09;
       text-align: center;
       
   }

   .sec_five_row1:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
   }


   .sec_six{
    width: 100%;
    height: 100vh;
}


   .sec_six_row1{
    width: 100%;
    height: 20rem;
    margin-top: 5rem;
    padding-top: 2.5rem;
    padding-left: 2rem;
    border-radius: 1.2rem;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    
}


.foot_seven{
    width: 100%;
    height: 40vh;
    background-color: #1B2C3F;
    margin-top: 4rem;
}

.foot_seven_main{
  font-size: 0.9rem;
}



.foot_seven_main2 li a{
    color: #099D09;
    margin: 1rem 0.9rem;
    font-size: 1.3rem;
}




   






/* ------------------Media Queries------------------- */

@media only screen and (max-width: 768px) {
   
.h_bigText{
    font-size: 2rem;
}

.h_para{
    font-size: 0.9rem;
}

.header_buttons .h_section_btn1{
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;

}
.header_buttons .h_section_btn2{
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;

}
.foot_seven{
    height: auto;
    
}





.sec_three_covid h2{
    font-size: 1.4rem;
}
.sec_three_covid p{
    font-size: 0.9rem;
    margin-top: 2rem;
}
.sec_three_covid a{
    padding: 0.6rem 0.8rem!important;

}

.service_con{
    text-align: center;
}

.sec_five{
    height: auto;
}
.sec_six{
    height: auto;
}

.foot_seven_main{
    font-size: 0.8rem;
  }

  .foot_seven_main1 ul li a{
      padding: 0 0.5rem;
      
  }
  .foot_seven_main2 ul li a{
    padding: 0 0.5rem;
    
}



}

@media only screen and (max-width: 588px) {
   

    .header{
       background-color: #1B2C3F;

    }

    .h_bigText{
        font-size: 1.5rem;
    }
    
    .h_para{
        font-size: 0.6rem;
    }

    .header_buttons .h_section_btn1{
        font-size: 0.9rem;
    }

    .header_buttons .h_section_btn2{
        font-size: 0.9rem;
    }
    }

